body {
	font-family: sans-serif;
	text-align: center;
}

.token {
	margin: 2px;
	padding: 5px;
	border: 2px solid green;
	border-radius: 5px;
//	background-color: blanchedalmond;
	cursor: pointer;
}
.token-u {
	margin: 2px;
	padding: 5px;
	border: 1px solid lightcoral;
	border-radius: 5px;
//	background-color: blanchedalmond;
	cursor: pointer;
}
.token::before {
	transition: .5s;
	transform: scale(.9);
}
.token:hover::before {
	transform: scale(1.1);
  	box-shadow: 0 0 15px #ffee10;
}
.token:hover {
	color: blue;
	box-shadow: 0 0 5px #ffee10;
	text-shadow: 0 0 5px #ffee10;
}
.datePicker div {
	padding: 5px;
	display:flexbox;
	min-width: 314px;
	justify-content: space-between;
	border: 1px solid black;
}

.datePicker input {
	max-width: 70px;
	border-radius: 3px;
}

.fetcher {
	padding: 10px;
	margin: auto;
	border: 2px solid gold;
	font-weight: 780;
}